.main-header-container {
    position: sticky;
    top: 0;
    background-color: #181818;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    z-index: 500;
}

.nav-link:hover {
    color: var(--accent-color-2) !important;
    cursor: pointer;
}

.nav-link {
    color: var(--accent-color-1);
    position: relative;
    display: inline;
}

.nav-link::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--accent-color-2); /* Dot color */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -3px; /* Adjust based on your spacing */
    transform: translateX(-50%) scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover::after {
    transform: translateX(-50%) scale(1); /* Show the dot on hover */
}

header {
    padding-left: 20px;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.active {
    background-color: var(--accent-color-1);
}

.secondary-text {
    color: var(--secondary-text-color);
}

.accent-color-1 {
    color: var(--accent-color-1);
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.call-to-action {
    background-color: var(--call-to-action-background);
    color: var(--call-to-action-text);
    /* Additional button styling */
}

.call-to-action:hover {
    background-color: var(--call-to-action-hover-background);
    /* Additional hover styling */
}

