.main-header-container {
    position: sticky;
    top: 0;
    background-color: var(--header-contrast-color);
    box-shadow: var(--header-box-shadow);
    z-index: 500;
    height: 72px;
}

.nav-link:hover {
    color: var(--accent-color-2) !important;
    cursor: pointer;
}

.nav-link {
    color: var(--accent-color-1);
    position: relative;
    display: inline;
}

header {
    padding-left: 20px;
    font-size: large;
}

.nav-menu {
    position: relative;
    padding-top: 5px;
}

.dot {
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.selected-dot {
    background: var(--accent-color-1); 
    opacity: 1;
}

.hover-dot {
    background: var(--accent-color-2);
    left: -20px;
    opacity: 0; 
}

.footer-pills-container {
    margin-right: 40px;
}

.main-footer-container {
    background-color: var(--header-contrast-color);
    box-shadow: var(--header-box-shadow);
    color: var(--accent-color-1);
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-nav {
    color: var(--accent-color-1);
    position: relative;
    display: inline;
    text-decoration: none;
}

.footer-nav:hover{
    color: var(--accent-color-2) !important;
    cursor: pointer;
}

.main-footer-container {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    height: 96px;
}
